.calendar__count {
  min-width: 112px;
  margin-left: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  letter-spacing: 0.2px;
}

@media screen and (max-width: 1242px) {
  .calendar__count {
    font-size: 12px;
    line-height: 17px;
    margin-left: 5px;
  }
}
