.header__logo {
  background-image: url("images/logo_наставник.pro.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 183px;
  height: 30px;
}

.header__logo:hover {
  background-image: url("images/logo_наставник.pro_hover.svg");
}
