.newsbrake {
  display: grid;
  grid-template-columns: repeat(2, minmax(370px, 1fr));
  grid-template-rows: 520px;
  gap: 30px;
}

@media screen and (max-width: 1439px) {
  .newsbrake {
    grid-template-rows: 414px;
  }
}

@media screen and (max-width: 1023px) {
  .newsbrake {
    grid-template-rows: 382px;
  }
}

@media screen and (max-width: 835px) {
  .newsbrake {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 382px) minmax(auto, 290px);
  }
}
