.calendar__wrap-signup {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1242px) {
  .calendar__wrap-signup {
    margin-top: 26px;
  }
}
