.video-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(420px, 1fr));
  grid-template-rows: 408px;
  grid-auto-rows: 0px;
  column-gap: 30px;
}

@media screen and (max-width: 1919px) {
  .video-grid {
    grid-template-columns: repeat(3, minmax(370px, 1fr));
  }
}

@media screen and (max-width: 1439px) {
  .video-grid {
    grid-template-columns: repeat(2, minmax(370px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .video-grid {
    grid-template-columns: minmax(290px, 1fr);
    grid-template-rows: minmax(auto, 500px);
  }
}

@media screen and (max-width: 320px) {
  .video-grid {
    grid-template-rows: 310px;
  }
}
