.calendar__plan-item {
  padding: 10px 0;
  border-bottom: 1px solid #a7a6a6;
}

.calendar__plan-item:first-of-type {
  padding: 0 0 10px 0;
}

.calendar__plan-item:last-of-type {
  padding: 10px 0 0 0;
  border-bottom: 0;
}
