.content_styles_book {
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding-top: 30px;
  padding-left: 65px;
  padding-bottom: 15px;
  padding-right: 65px;
}

@media screen and (max-width: 1439px) {
  .content_styles_book {
    padding-top: 30px;
    padding-left: 45px;
    padding-bottom: 15px;
    padding-right: 45px;
  }
}
