.content_styles_blockquote {
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 47px 15px 69px 30px;

  /* padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px; */
}

@media screen and (max-width: 1439px) {
  .content_styles_blockquote {
    padding: 30px 15px;
    /* padding-left: 15px;
    padding-right: 15px; */
  }
}
