.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 414px;
  max-width: 570px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 30px;
  position: relative;
  /* min-height: 100%; */
}
