.content_styles_book {
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 30px 65px 15px;
}

@media screen and (max-width: 1439px) {
  .content_styles_book {
    padding: 30px 45px 15px;
  }
}
