.footer__copyright {
  margin: 0;
  margin-bottom: 12px;

  color: rgba(200, 209, 255, 1);
}

@media (max-width: 1024px) {
  .footer__copyright {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media (max-width: 779px) {
  .footer__copyright {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
