.card__link {
  font-family: "Proto Grotesk Light", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: var(--text-color_blue);
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .card__link {
    font-size: 12px;
    line-height: 17px;
  }
}
