.calendar__title {
  width: 320px;
  margin: 0;
  margin-top: 10px;

  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;

  color: #000000;
}

@media screen and (max-width: 1242px) {
  .calendar__title {
    width: 287px;

    font-size: 19px;
    line-height: 23px;
  }
}

@media screen and (max-width: 389px) {
  .calendar__title {
    width: 166px;
  }
}
