.content {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
  }
=======
  flex-shrink: 0;
  display: grid;
  row-gap: 30px;
>>>>>>> feat/main_page
}
