.card__header {
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  padding: 2px 7px;
  background: var(--backgroud_light_grey);
  border-radius: 15px;
  text-transform: uppercase;
  margin: 0 auto 12px;
}
