.card__header {
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  padding: 2px 7px;
  background-color: var(--background_grey_light);
  border-radius: 15px;
  text-transform: uppercase;
}

.card__header_pos {
  margin: 0;
  margin-bottom: 5px;
}

.card__header_pos_bottom {
  position: absolute;
  bottom: 10px;
  right: auto;
  margin: 0;
}
