.video-grid__card-caption {
  max-height: 169px;
  padding: 15px 30px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .video-grid__card-caption {
    max-height: 163px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
