.calendar__plan {
  /* margin-top: 90px; */
  padding: 0;
  list-style: none;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  letter-spacing: 0.2px;

  color: #1a1a1a;
}
