.video-grid__card-author {
  margin: 5px auto 0;
}

@media screen and (max-width: 1024px) {
  .video-grid__card-author {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
