.card__tag {
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  padding: 2px 7px;
  background-color: var(--background_grey_light), 60%;
  border-radius: 15px;
  text-transform: uppercase;
}

.card__tag_pos {
  margin: 0;
  margin-bottom: 5px;
}

.card__tag_pos_bottom {
  position: absolute;
  bottom: 10px;
  right: auto;
  margin: 0;
}
