.card__tag {
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  padding: 2px 7px;
  background-color: var(--background_grey_light_70);
  border-radius: 15px;
  text-transform: uppercase;
  margin: 0;
}
/* 
.card__tag_pos {
  margin-bottom: 5px;
} */

.card__tag_pos_bottom {
  position: absolute;
  bottom: 10px;
  right: 50%;
  left: 50%;
}
