.faq {
  position: relative;
  display: grid;
  grid-template-columns: 420px minmax(370px, 1fr);
  grid-template-rows: repeat(3, minmax(189px, 1fr));
  gap: 30px;
}

@media screen and (max-width: 1919px) {
  .faq {
    grid-template-columns: 370px minmax(370px, 1fr);
    grid-template-rows: repeat(3, auto);
    /* grid-template-rows: repeat(3, minmax(189px, 1fr)); */
  }
}

@media screen and (max-width: 1439px) {
  .faq {
    grid-template-rows: repeat(auto-fit, minmax(161px, auto));
  }
}

@media screen and (max-width: 1023px) {
  .faq {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(161px, auto));
  }
}
