.video-section {
  display: grid;
  /*grid-template-columns: 571px minmax(800px, 1fr);*/
  grid-template-columns: 571px 1fr;
  grid-template-rows: minmax(451px, 675px);
}
/* 
@media screen and (max-width: 1439px) {
  .video-section {
    grid-template-columns: 370px minmax(800px, 1fr);
    grid-template-rows: 451px;
  }
}

@media screen and (max-width: 1024px) {
  .video-section {
    border-radius: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 438px 147px;
  }
}

@media screen and (max-width: 1023px) {
  .video-section {
    grid-template-columns: 1fr;
    grid-template-rows: 165px 147px;
  }
} */

@media screen and (max-width: 1440px) {
  .video-section {
    grid-template-columns: 370px 1fr;
    grid-template-rows: minmax(auto, 451px);
  }
}

@media screen and (max-width: 1024px) {
  .video-section {
    border-radius: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(165px, 438px) 147px;
  }
}

@media screen and (max-width: 321px) {
  .video-section {
    grid-template-columns: 1fr;
    grid-template-rows: 165px 147px;
  }
}
