.card__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: var(--text-color_gray_dark);
}

.card__author_pos_center {
  margin: 0 auto;
  align-self: flex-start;
}

.card__author_pos_left {
  margin: 0;
}

/* размер шрифта переключаем на 1024 */
@media screen and (max-width: 1024px) {
  .card__author {
    font-size: 12px;
    line-height: 17px;
  }
}
