.page__footer {

}

.footer {
    box-sizing: border-box;
    background-color: #2E2468;
    margin: 0 auto;
    width: 100%;
    height: 436px;
    color: white;
    padding-top: 90px;
}

@media (max-width: 1024px) {
    .footer {
        padding: 40px 15px 0 15px;
        height: 100%;
    }
}

.footer__container {

    margin: 0 auto;
    max-width: max-content;
}

.footer__string {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 1024px) {
    .footer__string {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
}

.footer__logo {
    width: 415px;
    height: 76px;
    margin-right: 85px;
}

@media (max-width: 1024px) {
    .footer__logo {
        width: 252px;
        height: 46px;
        margin-right: 0;
        margin-bottom: 40px;
    }
}

.footer__button {
    margin-top: 20px;
    margin-right: 131px;
    color: white;
}

@media (max-width: 1150px) {
    .footer__button {
        margin-right: 50px;
    }
}

@media (max-width: 1024px) {
    .footer__button {
        margin-right: 0;
        order: 1;
    }
}



@media (max-width: 1024px) {
    .footer__button {
        margin-top: 15px;
        box-sizing: border-box;
        height: 40px;
        font-size: 12px;
        line-height: 17px;
        padding: 11px 12px 15px 12px;
    }
}

.footer__menu {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
}

@media (max-width: 1024px) {
    .footer__menu {
        margin-top: 0;
    }
}

.footer__menu_content_main {
    margin-right: 44px;
}

@media (max-width: 1150px) {
    .footer__menu_content_main {
        margin-right: 30px;
    }
}

@media (max-width: 1024px) {
    .footer__menu_content_main {
        margin: 0 10px 5px 10px;
    }
}


.footer__line {
    display: none;
    background-color: #C8D1FF;
    max-width: 770px;
    width: 100%;
    margin-bottom: 20px;
    height: 1px;
}

@media (max-width: 1024px) {
    .footer__line {
        display: block;
    }
}

.footer__menu_content_social {

}

@media (max-width: 320px) {
    .footer__menu_content_social {
        margin: 0 auto;
        padding: 0 20px;
    }
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


@media (max-width: 1024px) {
    .footer__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 15px;
    }
}

.footer__list-item {
    margin-bottom: 20px;
}

.footer__list-item:last-child {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .footer__list-item {
        margin-bottom: 15px;
    }

    .footer__list-item:last-child {
        margin-bottom: 15px;
        margin-right: 0;
    }
}



.footer__link {
    color: white;
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__authors {
    position: relative;
    top: -62px;
    display: flex;
    align-items: flex-end;
    max-width: max-content;
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.44;
    letter-spacing: 0.2;
}

@media (max-width: 1024px) {
    .footer__authors {
        position: static;
        top: 0;
        font-size: 12px;
        line-height: 1.42;
        margin-bottom: 30px;
    }
}

@media (max-width: 779px) {
    .footer__authors {
        margin: 0 auto 30px;
        flex-direction: column;
        align-items: center;
    }
}

.footer__authors-inner {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .footer__authors-inner {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 779px) {
    .footer__authors-inner {
        flex-direction: column;
    }
}

.footer__copyright {
    margin: 0;
    margin-bottom: 12px;
    color: rgba(200, 209, 255, 1);
}

@media (max-width: 1024px) {
    .footer__copyright {
        margin-bottom: 0;
        margin-right: 30px;
    }
}

@media (max-width: 779px) {
    .footer__copyright {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

.footer__developers {
    margin: 0;
    margin-right: 30px;
}

@media (max-width: 779px) {
    .footer__developers {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

.footer__link-developers {
    font-family: 'PTRootUIWebRegular', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.44;
    text-transform: none;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .footer__link-developers {
        font-size: 12px;
        line-height: 1.42;
    }
}

.footer__design {
    margin: 0;
}