.card__title {
  min-height: 30px;
  font-family: "Proto Grotesk Light", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  float: none;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
   overflow: hidden;
}

@media screen and (max-width: 1439px) {
  .card__title {
    min-height: 23px;
    font-size: 19px;
    line-height: 23px;
  }
}
