.card__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  overflow-y: scroll;
  margin-top: 5px;
}

@media screen and (max-width: 1439px) {
  .card__text {
    font-size: 15px;
    line-height: 21px;
  }
}
