.footer__menu_content_main {
	margin-right: 44px;
}

@media (max-width: 1150px) {
	.footer__menu_content_main {
		margin-right: 30px;
	}
}

@media (max-width: 1024px) {
	.footer__menu_content_main {
		margin: 0 10px 5px 10px;
	}
}
