.header__nav-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17.5px;
  letter-spacing: 0.2px;
  color: var(--main-text_black);
  margin-right: 30px;
}

.header__nav-link:hover {
  color: var(--background_blue);
}
